doctype
html
  head
        title CodeCard Login
        link(rel='stylesheet', href='/resources/form.css')
        link(href='/resources/icons/code.ico', type='image/x-icon', rel='shortcut icon')
        style(type='text/css')
            .border,
            .rain{
                height: 190px;
                width: 320px;
            }
        script(src='/bootstrap/js/jquery.js')
        script(src='/resources/form.js')
  body#home
        .header
            span Welcome!
        - if(errorMsg)
        .errorMsg #{errorMsg}
        .rain
            .border.start
                form(action='/login',method='post')
                    label username
                    input(type='text', name='username', value='#{username}')
                    label password
                    input(type='password', name='password', value='#{password}')
                    a#login.black(href='/regist') Regist
                    button#login.orange(type='submit') Login
        .footer Copyright 2004-2012. All rights reserved. Joey, NQ Mobile!





